---
import ApiService from '../ApiService/ApiService'
import DefaultHeroSection from '../components/DefaultHeroSection.astro'
import VisualImageWithHeading from '../components/VisualImageWithHeading.astro'
import Layout from '../layouts/Layout.astro'

const data = await ApiService.fetchHeroes('en')
// console.log('DATA 🍔🍔', JSON.stringify(data, null, 2))
---

<Layout>
  <main class="container m-auto mt-16">
    {
      data?.[0]?.sections?.map((section: any) => {
        const sectionCollection = section?.collection
        const columnGap = section?.item?.column_gap
        const sectionType = section?.item?.section_type
        const sectionBgColor = section?.item?.background_color
        return section?.item?.columns?.map((column: any) => {
          const columnSort = column?.sort
          const columnCollection = column?.collection
          const columnItemWidth = column?.item?.column_width
          const columnItemRecords = column?.item?.column_records
          const columnItemElement = columnItemRecords[0].item.element

          return columnItemElement.map((el: any) => {
            switch (el.collection) {
              case 'Default_hero_section':
                return <DefaultHeroSection heroData={el.item.translations[0]} />
              case 'visual_image_with_heading':
                return <VisualImageWithHeading heroData={el.item} />
            }
          })
        })
      })
    }

    <main></main>
  </main>
</Layout>
